In [43]:
import sqlite3
import pandas as pd

In [44]:
# create a connection to a database
db = sqlite3.connect('vegetables.db')

In [45]:
# create a cursor
cur = db.cursor()

In [46]:
step1 = cur.execute('CREATE TABLE IF NOT EXISTS vegetables (name TEXT, color TEXT, count INTEGER)')
step1.fetchall()

[]

In [47]:
cur.execute('INSERT INTO vegetables VALUES ("carrot", "orange", 10)')

In [48]:
step3 = cur.execute('SELECT * FROM vegetables')
step3.fetchall()

[('carrot', 'orange', 20),
 ('broccoli', 'green', 15),
 ('cauliflower', 'white', 31),
 ('zucchini', 'green', 27),
 ('spinach', 'green', 4),
 ('squash', 'yellow', 4),
 ('peas', 'green', 3),
 ('potato', 'brown', 8),
 ('tomato', 'red', 9),
 ('eggplant', 'purple', 6),
 ('cucumber', 'green', 11),
 ('celery', 'green', 12),
 ('asparagus', 'green', 13),
 ('garlic', 'white', 14),
 ('carrot', 'orange', 20),
 ('broccoli', 'green', 15),
 ('cauliflower', 'white', 31),
 ('zucchini', 'green', 27),
 ('spinach', 'green', 4),
 ('squash', 'yellow', 4),
 ('peas', 'green', 3),
 ('potato', 'brown', 8),
 ('tomato', 'red', 9),
 ('eggplant', 'purple', 6),
 ('cucumber', 'green', 11),
 ('celery', 'green', 12),
 ('asparagus', 'green', 13),
 ('garlic', 'white', 14),
 ('carrot', 'orange', 20),
 ('broccoli', 'green', 15),
 ('cauliflower', 'white', 31),
 ('zucchini', 'green', 27),
 ('spinach', 'green', 4),
 ('squash', 'yellow', 4),
 ('peas', 'green', 3),
 ('potato', 'brown', 8),
 ('tomato', 'red', 9),
 ('eggplant', 'purple', 6),
 ('cucumber', 'green', 11),
 ('celery', 'green', 12),
 ('asparagus', 'green', 13),
 ('garlic', 'white', 14),
 ('carrot', 'orange', 10)]

In [49]:
cur.execute('UPDATE vegetables SET count = 20 WHERE name = "carrot"')

In [50]:
cur.execute('INSERT INTO vegetables VALUES ("broccoli", "green", 15)')
cur.execute('INSERT INTO vegetables VALUES ("cauliflower", "white", 31)')
cur.execute('INSERT INTO vegetables VALUES ("zucchini", "green", 27)')
cur.execute('INSERT INTO vegetables VALUES ("spinach", "green", 4)')
cur.execute('INSERT INTO vegetables VALUES ("squash", "yellow", 4)')
cur.execute('INSERT INTO vegetables VALUES ("peas", "green", 3)')
cur.execute('INSERT INTO vegetables VALUES ("potato", "brown", 8)')
cur.execute('INSERT INTO vegetables VALUES ("tomato", "red", 9)')
cur.execute('INSERT INTO vegetables VALUES ("eggplant", "purple", 6)')
cur.execute('INSERT INTO vegetables VALUES ("cucumber", "green", 11)')
cur.execute('INSERT INTO vegetables VALUES ("celery", "green", 12)')
cur.execute('INSERT INTO vegetables VALUES ("asparagus", "green", 13)')
cur.execute('INSERT INTO vegetables VALUES ("garlic", "white", 14)')

In [51]:
step5 = cur.execute('SELECT * FROM vegetables')
step5.fetchall()

[('carrot', 'orange', 20),
 ('broccoli', 'green', 15),
 ('cauliflower', 'white', 31),
 ('zucchini', 'green', 27),
 ('spinach', 'green', 4),
 ('squash', 'yellow', 4),
 ('peas', 'green', 3),
 ('potato', 'brown', 8),
 ('tomato', 'red', 9),
 ('eggplant', 'purple', 6),
 ('cucumber', 'green', 11),
 ('celery', 'green', 12),
 ('asparagus', 'green', 13),
 ('garlic', 'white', 14),
 ('carrot', 'orange', 20),
 ('broccoli', 'green', 15),
 ('cauliflower', 'white', 31),
 ('zucchini', 'green', 27),
 ('spinach', 'green', 4),
 ('squash', 'yellow', 4),
 ('peas', 'green', 3),
 ('potato', 'brown', 8),
 ('tomato', 'red', 9),
 ('eggplant', 'purple', 6),
 ('cucumber', 'green', 11),
 ('celery', 'green', 12),
 ('asparagus', 'green', 13),
 ('garlic', 'white', 14),
 ('carrot', 'orange', 20),
 ('broccoli', 'green', 15),
 ('cauliflower', 'white', 31),
 ('zucchini', 'green', 27),
 ('spinach', 'green', 4),
 ('squash', 'yellow', 4),
 ('peas', 'green', 3),
 ('potato', 'brown', 8),
 ('tomato', 'red', 9),
 ('eggplant', 'purple', 6),
 ('cucumber', 'green', 11),
 ('celery', 'green', 12),
 ('asparagus', 'green', 13),
 ('garlic', 'white', 14),
 ('carrot', 'orange', 20),
 ('broccoli', 'green', 15),
 ('cauliflower', 'white', 31),
 ('zucchini', 'green', 27),
 ('spinach', 'green', 4),
 ('squash', 'yellow', 4),
 ('peas', 'green', 3),
 ('potato', 'brown', 8),
 ('tomato', 'red', 9),
 ('eggplant', 'purple', 6),
 ('cucumber', 'green', 11),
 ('celery', 'green', 12),
 ('asparagus', 'green', 13),
 ('garlic', 'white', 14)]

In [52]:
db.commit()

In [53]:
db.close()

## Section 2 Week 9
### I have selected a dataset from Kaggle: https://www.kaggle.com/datasets/shariful07/nice-work-thanks-for-share

In [54]:
# Connect to DB and create a cursor
sqliteConnection = sqlite3.connect("student.db")
cursor = sqliteConnection.cursor()

In [55]:
# create database/table

db = pd.read_csv('University Students Monthly Expenses.csv')
db.to_sql('student', sqliteConnection, if_exists='append', index=False)

105

In [56]:
db.head()

,Gender,Age,Study_year,Living,Scholarship,Part_time_job,Transporting,Smoking,Drinks,Games_&_Hobbies,Cosmetics_&_Self-care,Monthly_Subscription,Monthly_expenses_$
0,Female,21,2.0,Home,No,No,No,No,No,No,Yes,No,150.0
1,Male,25,3.0,Hostel,No,Yes,Motorcycle,No,No,Yes,Yes,Yes,220.0
2,Male,23,2.0,Home,Yes,No,No,No,No,No,No,NaN,180.0
3,Male,19,3.0,Hostel,No,No,Motorcycle,No,No,Yes,Yes,Yes,200.0
4,Female,19,2.0,Home,No,No,Motorcycle,No,No,No,Yes,No,300.0

In [57]:
max_spend = db.sort_values(by="Monthly_expenses_$", ascending=False)['Monthly_expenses_$'].iloc[0]
print(f"The maximum monthly spend is ${max_spend}.")

The maximum monthly spend is $350.0.

In [58]:
cursor.execute("select * from student")

In [59]:
# this will show the first row in the data
cursor.fetchone()

('Female ',
 21,
 2.0,
 'Home',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 150.0)

In [60]:
# show the columns in the database
print(db.columns)

Index(['Gender', 'Age', 'Study_year', 'Living', 'Scholarship', 'Part_time_job',
       'Transporting', 'Smoking', 'Drinks', 'Games_&_Hobbies',
       'Cosmetics_&_Self-care', 'Monthly_Subscription', 'Monthly_expenses_$'],
      dtype='object')

In [61]:
# select the student with monthly expenses greater than 200
cursor.execute("select * from student where Monthly_expenses_$ > 200")
rich = cursor.fetchall()
[i for i in rich][0]
print(f"There are {len(rich)} students with monthly expenses greater than $200.")

There are 38 students with monthly expenses greater than $200.

In [62]:
# select the student with monthly expenses less than 100
cursor.execute("select Scholarship,Part_time_job from student where Monthly_expenses_$ < 150")
spd_less = cursor.fetchall()
[i for i in spd_less][0]
print(f"There are {len(spd_less)} students with monthly expenses less than $150.")

There are 5 students with monthly expenses less than $150.

In [63]:
print(spd_less)

[('No', 'No'), ('No', 'No'), ('No', 'No'), ('No', 'No'), ('No', 'No')]

# Last part of Project 3 (11/6)

## I want to include a few questions here to answer

1. find the mean Monthly Expenses of the female and male to see if there's any difference

2. Check if `Smoking` will increase the Monthly Expenses

3. Check if `Games_&_Hobbies` will increase the Monthly Expenses

4. Compare if `Cosmetics_&_Self-care` is a factor

5. Check if the `Study_year` will affect the  Monthly Expenses

In [76]:
db.head()

,Gender,Age,Study_year,Living,Scholarship,Part_time_job,Transporting,Smoking,Drinks,Games_&_Hobbies,Cosmetics_&_Self-care,Monthly_Subscription,Monthly_expenses_$
0,Female,21,2.0,Home,No,No,No,No,No,No,Yes,No,150.0
1,Male,25,3.0,Hostel,No,Yes,Motorcycle,No,No,Yes,Yes,Yes,220.0
2,Male,23,2.0,Home,Yes,No,No,No,No,No,No,NaN,180.0
3,Male,19,3.0,Hostel,No,No,Motorcycle,No,No,Yes,Yes,Yes,200.0
4,Female,19,2.0,Home,No,No,Motorcycle,No,No,No,Yes,No,300.0

In [78]:
cursor.execute("select AVG(Monthly_expenses_$),Gender from student GROUP BY Gender")
gender = cursor.fetchall()
[i for i in gender]

[(213.13725490196077, 'Female '), (216.875, 'Male ')]

Based on the mean value that I calculated from above, it seems like the males are spending more than the females.

In [74]:
cursor.execute("select Smoking,Monthly_expenses_$ from student GROUP BY Smoking,Monthly_expenses_$ Having Smoking = 'Yes' or Smoking = 'No' Order By Monthly_expenses_$ DESC")
smoke = cursor.fetchall()
[i for i in smoke]

[('No', 350.0),
 ('Yes', 350.0),
 ('No', 300.0),
 ('Yes', 300.0),
 ('No', 280.0),
 ('No', 250.0),
 ('Yes', 250.0),
 ('Yes', 230.0),
 ('No', 220.0),
 ('No', 200.0),
 ('Yes', 200.0),
 ('No', 180.0),
 ('No', 170.0),
 ('No', 150.0),
 ('Yes', 150.0),
 ('No', 140.0),
 ('No', None),
 ('Yes', None)]

Smoking or not smoking will not help to determine whether the student spend a lot or very little in a month. It doesn't seem to be a factor.

In [92]:
db.columns

Index(['Gender', 'Age', 'Study_year', 'Living', 'Scholarship', 'Part_time_job',
       'Transporting', 'Smoking', 'Drinks', 'Games_&_Hobbies',
       'Cosmetics_&_Self-care', 'Monthly_Subscription', 'Monthly_expenses_$'],
      dtype='object')

In [95]:
cursor.execute("select AVG(Monthly_expenses_$),student.'Games_&_Hobbies' from student GROUP BY student.'Games_&_Hobbies'")
games = cursor.fetchall()
[i for i in games]

[(246.66666666666666, 'No'), (199.0909090909091, 'Yes')]

The result surprises me, the students who do not play games and have hobbies tend to spend more on average.

In [100]:
cursor.execute("select AVG(Monthly_expenses_$),student.'Cosmetics_&_Self-care' from student GROUP BY student.'Cosmetics_&_Self-care' Having student.'Cosmetics_&_Self-care' == 'Yes' or student.'Cosmetics_&_Self-care' == 'No'")
cos = cursor.fetchall()
[i for i in cos]

[(205.85365853658536, 'No'), (217.70833333333334, 'Yes')]

In this case, the students that do have self-care spends more than the students who don't.

In [103]:
cursor.execute("select AVG(Monthly_expenses_$),student.'Study_year' from student GROUP BY student.'Study_year'")
yr = cursor.fetchall()
[i for i in yr]

[(225.0, None),
 (196.0, 1.0),
 (197.5, 2.0),
 (217.14285714285714, 3.0),
 (241.07142857142858, 4.0)]

According to the output, it seems like the students who are older tend to spend more money.