In [1]:
import sqlite3

In [2]:
# create a connection to a database
db = sqlite3.connect('vegetables.db')

In [3]:
# create a cursor
cur = db.cursor()

In [4]:
step1 = cur.execute('CREATE TABLE IF NOT EXISTS vegetables (name TEXT, color TEXT, count INTEGER)')
step1.fetchall()

[]

In [5]:
step2 = cur.execute('INSERT INTO vegetables VALUES ("carrot", "orange", 10)')

In [6]:
step3 = cur.execute('SELECT * FROM vegetables')
step3.fetchall()

[('carrot', 'orange', 20), ('carrot', 'orange', 20), ('carrot', 'orange', 10)]

In [7]:
step4 = cur.execute('UPDATE vegetables SET count = 20 WHERE name = "carrot"')

In [8]:
step5 = cur.execute('SELECT * FROM vegetables')
step5.fetchall()

[('carrot', 'orange', 20), ('carrot', 'orange', 20), ('carrot', 'orange', 20)]

In [9]:
print(cur.fetchall())

[]

In [10]:
db.commit()

In [11]:
db.close()