In [1]:
import sqlite3

In [2]:
# create a connection to a database
db = sqlite3.connect('vegetables.db')

In [3]:
# create a cursor
cur = db.cursor()

In [4]:
step1 = cur.execute('CREATE TABLE IF NOT EXISTS vegetables (name TEXT, color TEXT, count INTEGER)')
step1.fetchall()

[]

In [5]:
cur.execute('INSERT INTO vegetables VALUES ("carrot", "orange", 10)')

In [6]:
step3 = cur.execute('SELECT * FROM vegetables')
step3.fetchall()

[('carrot', 'orange', 10)]

In [7]:
cur.execute('UPDATE vegetables SET count = 20 WHERE name = "carrot"')

In [8]:
cur.execute('INSERT INTO vegetables VALUES ("broccoli", "green", 15)')
cur.execute('INSERT INTO vegetables VALUES ("cauliflower", "white", 31)')
cur.execute('INSERT INTO vegetables VALUES ("zucchini", "green", 27)')
cur.execute('INSERT INTO vegetables VALUES ("spinach", "green", 4)')
cur.execute('INSERT INTO vegetables VALUES ("squash", "yellow", 4)')
cur.execute('INSERT INTO vegetables VALUES ("peas", "green", 3)')
cur.execute('INSERT INTO vegetables VALUES ("potato", "brown", 8)')
cur.execute('INSERT INTO vegetables VALUES ("tomato", "red", 9)')
cur.execute('INSERT INTO vegetables VALUES ("eggplant", "purple", 6)')
cur.execute('INSERT INTO vegetables VALUES ("cucumber", "green", 11)')
cur.execute('INSERT INTO vegetables VALUES ("celery", "green", 12)')
cur.execute('INSERT INTO vegetables VALUES ("asparagus", "green", 13)')
cur.execute('INSERT INTO vegetables VALUES ("garlic", "white", 14)')

In [9]:
step5 = cur.execute('SELECT * FROM vegetables')
step5.fetchall()

[('carrot', 'orange', 20),
 ('broccoli', 'green', 15),
 ('cauliflower', 'white', 31),
 ('zucchini', 'green', 27),
 ('spinach', 'green', 4),
 ('squash', 'yellow', 4),
 ('peas', 'green', 3),
 ('potato', 'brown', 8),
 ('tomato', 'red', 9),
 ('eggplant', 'purple', 6),
 ('cucumber', 'green', 11),
 ('celery', 'green', 12),
 ('asparagus', 'green', 13),
 ('garlic', 'white', 14)]

In [10]:
db.commit()

In [11]:
db.close()